.postContainer {
    width: 100%;
}

.postAbout {
    color: rgb(43, 42, 42);
    padding-bottom: 50px;
    padding-right: 25%;
    padding-left: 25%;
}

.postPreTitle h4{
    color: white;
    font-size: 40px;
}

.postPreTitle{
    text-align: center; 
    height: calc(100vh - 80px);
    letter-spacing: 10px;    
    word-spacing: 8px;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url("../../IMG/gre3.jpg");
   
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    transform: scale(0.7, 0.9);
}

.postTitle {
    color: #529365;
    letter-spacing: 1px;
}

.postText{
    margin-top: 30px;
}

.indent{
    text-indent:30px;
    text-align: justify;
}

.source li{
    margin-left: -15px;
}

.link a {
    display: block;
    height: 65px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #205081;
    text-decoration: none;
    line-height: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.link a:hover {
    background: #0094B1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    transition: all .2s ease-in-out;
}

.firstImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    
    .postAbout {
        padding-right: 18%;
        padding-left: 18%;
       
    }
}

@media screen and (max-width: 800px) {
    .postAbout {
        padding-right: 11%;
        padding-left: 11%;
        
    }
}

@media screen and (max-width: 500px) {

    .postPreTitle{
        transform: scale(0.9, 0.9);
    }

    .postAbout {
        padding-right: 5%;
        padding-left: 5%;        
    }

    .postText {
        margin-top: 25px;
    }
}