{% extends 'workout/baseWorkout.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('CSS/workout/pushUp/history.css') }}" rel="stylesheet" />  
{% endblock %}

{% block body %}


 <section class="tableHistory">

        <h2>Push Up - history</h2>
        <table>
            <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Day</th>
                <th>Rep.</th>
                <th>Req.</th>
                <th>Rem.</th>
            </tr>
            <tr>
                <td>1</td>
                <td>12:34, 12.09.2018</td>
                <td>6</td>
                <td>8</td>
                <td>6</td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            <tr>
                <td>1</td>
                <td>12:34, 12.09.2018</td>
                <td>6</td>
                <td>8</td>
                <td>6</td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            <tr>
                <td>1</td>
                <td>12:34, 12.09.2018</td>
                <td>6</td>
                <td>8</td>
                <td>6</td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            <tr>
                <td>1</td>
                <td>12:34, 12.09.2018</td>
                <td>6</td>
                <td>8</td>
                <td>6</td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            <tr>
                <td>1</td>
                <td>12:34, 12.09.2018</td>
                <td>6</td>
                <td>8</td>
                <td>6</td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
        </table>
    </section>



   
{% endblock %}
