<!DOCTYPE html>
<html lang="PL">
    <head>
        <meta charset="UTF-8">
        <meta name="Author" content="Mariusz Najwer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Mariusz Najwer" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="shortcut icon" href="{{ asset('IMG/fav.png')}}">

        <title>{% block title %} {{namePage}} {% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">        
        
        <link href="{{asset('CSS/firstPage/firstPageNav.css') }}" rel="stylesheet" />
       
        {% if footer|default(0) == 1 %}
        <link href="{{asset('CSS/footer.css') }}" rel="stylesheet" />
        {% endif %}

        <style>img[alt*="www.000webhost.com"] {display: none;}</style>
        
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        <nav class="titleApp">

            {% if nav|default(0) == 0 %}
            <div class="childTitleAppPC">
                <h1 class="pc">Mariusz Najwer</h1>
            </div>
            {% else %}
                {% if undo|default(0) == 0 %}
                    <div class="childTitleApp">
                        <a class="undo" href="/">
                            <h1><i class="fas fa-undo-alt"></i></h1>
                        </a>
                    </div>
                {% else %}
                     <div class="childTitleApp">
                        <a class="undo" href="/login">
                            <h1><i class="fas fa-undo-alt"></i></h1>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            <div class="childTitleApp">
                <h1><i class="fas fa-heartbeat"></i> Syssitia App</h1>
            </div>

            <div class="childTitleAppPC">
                <ul class="social">
                    <li><a class="fb" href="https://www.facebook.com/profile.php?id=100006447601968" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="g" target="_blank" href="https://plus.google.com/+MariuszNajwer23"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a class="lin" target="_blank" href="https://www.linkedin.com/in/najwer23/"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="twit" target="_blank" href="https://twitter.com/najwer23"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% if footer|default(0) == 1 %}
            <div class="push"></div>
            <footer>
                <div class="laws">
                    <p><i class="fas fa-gavel"></i> Wszystkie&nbsp;prawa&nbsp;zastrzeżone</p>
                    <p><i class="far fa-copyright"></i> 2018 Mariusz Najwer </p>
                    <p> <i class="fas fa-cookie-bite"></i> Cookie</p>
                </div>
                <div class="endline"></div>
            </footer>
        {% endif %}

        {% block javascripts %}{% endblock %}
    </body>

   

</html>
