{% extends 'firstPage/baseFirstPage.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block stylesheets %}
<link href="{{ asset('CSS/firstPage/firstPageIndex.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <section>
        <div class="parentMenuFirstPage">

                
        <a href="/blog" class="childMenuFirstPage leftTop corner">
            <label>
                <div class="opacityImageBackgroundB"></div>
                <h2>blog <i class="fas fa-sign-in-alt"></i> </h2>
            </label>
        </a>        
                

        <a href="/about" class="childMenuFirstPage rightTop corner">
            <label>
                <div class="opacityImageBackgroundA"></div>
                <h2>about <i class="fas fa-sign-in-alt"></i> </h2>
            </label>
        </a>

        <a href="login" class="childMenuFirstPage leftBottom corner">
            <label>
                <div class="opacityImageBackgroundL"></div>
                <h2>login <i class="fas fa-sign-in-alt"></i></h2>
            </label>
        </a>

        <a href="contact" class="childMenuFirstPage rightBottom corner">
            <label>
                <div class="opacityImageBackgroundC"></div>
                <h2>contact <i class="fas fa-sign-in-alt"></i></h2>
            </label>
        </a>

        </div>
    </section>   

{% endblock %}
